.btn{
    padding: 15px;
    border-radius: 13px;
    border: none;
    outline: none;
}

.btn-extralarge{
    width: 280px;
}

.btn-small{
    width: 100px;
}

.btn-primary{
    background-color: rgb(141, 240, 128);
}