.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-content_center {
  justify-content: space-evenly;
}

.flex-items_center{
  align-items: center;
  margin: 15px 0px;
}

.line{
  height:2px;
  background-color: white;
}

.line-start{
  flex:1;
}
.line-end{
  flex: 1;
}

.center{
  margin: 0 7px;
}

.btn-sign {
  font-size: 17px;
  border: none;
  color: #363865;
  width: 90px;
  padding: 10px;
  text-align: center;
  border-radius: 13px;
  background-color: white;
}
